
.container{
    display: flex;
    flex-direction: column;
    max-width: 220px;
}
#input-1,#input-2{
 padding: 10px;
 border: 1px solid rgba(0, 128, 0, 0.368);
 margin: 10px;
}

.add,.sub,.multiply,.divide{
    margin: 10px;
    background-color: rgba(0, 128, 0, 0.368);
    border: 1px solid rgba(0, 128, 0, 0.368);

}
.result{
    
    background-color: rgba(0, 128, 0, 0.368);
    color: white;
    width: 180px;
    
    border: 1px solid rgba(0, 128, 0, 0.368);
    
    margin: auto;
    height: 30px;
   
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}